html {
    background-color: black;
}
body {
    background-image: url(../assets/links.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 100vh;
    /* min-width: 100vw; */
}
@media (min-width: 1100px) {

    #container {
        max-width: 900px;
        margin: 0 auto;
    }
}
header {
    color: white;
    margin: 0 auto;
}
li img {
    max-width: 50px;
    background-color:white;
    border-radius: 50%;
}
ul {
    list-style-type: none;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}

a:visited {
    color: greenyellow;
}

ul {
    display: flex;
}
body {
    max-width: 1100px;
}
img {
    max-width: 100%;
}

h1, a {
    color: white;
    font-family: 'Press Start 2P';

}

a:hover {
    cursor:crosshair;
}
h1 {
    font-size: 2em;
    text-align: center;
    padding: 30px 0;
    font-family: 'Press Start 2P';
}
a {
    padding: 10px;
    text-align: center;
    font-size: .7em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#planet-options {
    margin: 200px 10px;
    display: flex;
    justify-content: space-evenly;
}
footer {
    color: white;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 5px;
}