html {
    background-color: black;
}
body {
    color: white;
    background-image: url(../assets/blackHole.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 100vh;
    min-width: 100vw;
};

li img {
    max-width: 50px;
}

ul li {
    list-style-type: none;
    padding: 0 5px 0 5px;
}

ul {
    display: flex;
    justify-content: flex-end;
}

.hide {
    display: none;
}

#question {
    display: flex;
    flex-direction: column;
    font-size: 1.7em;
    margin: 0px 0 50px 0;
    border: dashed 2px white;
    padding: 20px;
    background-color: black;
    opacity: 84%;
}

label {
    padding: 10px 0;
}
label:first-child {
    margin-top: 20px;
}

h1 {
    font-family: 'Press Start 2P';
    font-size: 2.5em;
    margin: 50px 0;
    text-align: center;
}

footer {
    text-align: center;
    color:white;
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100vw;
    left: 0;
}

@media (min-width: 1100px) {

    #container {
        max-width: 900px;
        margin: 0 auto;
    }
}

img {
    width: 50px;
    box-shadow: white 0px 0px 25px;
    border-radius: 50%;
    background-color: white;
}

#trivia-question {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    margin-top: 100px;
}

#submit {
    width: 100px;
}

#results {
    font-size: 2em;
    margin-bottom: 50px;
}

#return {
    font-size: 1.5em;
}

#return{
    text-decoration: none;
    color: rgb(240, 252, 7);
    border: 2px white dashed;
    padding: 2px;
}

#return:hover {
    font-size: 2.1em;
    color: rgb(109, 254, 13);
} 

button:hover {
    cursor: crosshair;
}

a:hover {
    cursor: crosshair;
}